In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import itertools

In [43]:
# Generate all unique combinations of three numbers that sum to 10
combinations = [combo for combo in itertools.product(range(11), repeat=3) if sum(combo) == 10]

# Define the number of rows
num_rows = 100

# Randomly sample from the combinations to create the DataFrame
np.random.shuffle(combinations)
data = combinations[:num_rows]

df = pd.DataFrame(data, columns=['n_beginner', 'n_intermediate', 'n_advance'])

print(df)

    n_beginner  n_intermediate  n_advance
0            4               0          6
1            3               4          3
2            2               0          8
3            6               4          0
4            1               4          5
..         ...             ...        ...
61           1               2          7
62           7               3          0
63           0               1          9
64           6               2          2
65           4               6          0

[66 rows x 3 columns]

In [44]:
for i in range(0,11):
    df2=df.copy()
    df=pd.concat([df,df2])
print(df)

    n_beginner  n_intermediate  n_advance
0            4               0          6
1            3               4          3
2            2               0          8
3            6               4          0
4            1               4          5
..         ...             ...        ...
61           1               2          7
62           7               3          0
63           0               1          9
64           6               2          2
65           4               6          0

[135168 rows x 3 columns]

In [45]:
import random

# Generate a random number between 0 and 1
for i in ["accuracy_beginner","accuracy_intermediate","accuracy_advance"]:
    random_number = np.random.uniform(0,1,135168)
    df[i]=random_number

df

,n_beginner,n_intermediate,n_advance,accuracy_beginner,accuracy_intermediate,accuracy_advance
0,4,0,6,0.001993,0.601206,0.753460
1,3,4,3,0.585567,0.716942,0.278396
2,2,0,8,0.578313,0.526913,0.061586
3,6,4,0,0.046100,0.707588,0.140916
4,1,4,5,0.095613,0.667447,0.448442
...,...,...,...,...,...,...
61,1,2,7,0.408739,0.592968,0.290533
62,7,3,0,0.688674,0.902457,0.581218
63,0,1,9,0.415922,0.555652,0.784169
64,6,2,2,0.794666,0.639777,0.308068
65,4,6,0,0.286122,0.304933,0.694077

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 135168 entries, 0 to 65
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   n_beginner             135168 non-null  int64
 1   n_intermediate         135168 non-null  int64
 2   n_advance              135168 non-null  int64
 3   accuracy_beginner      135168 non-null  float64
 4   accuracy_intermediate  135168 non-null  float64
 5   accuracy_advance       135168 non-null  float64
dtypes: float64(3), int64(3)
memory usage: 7.2 MB

In [47]:
df.loc[df['n_beginner'] == 0, 'accuracy_beginner'] = 1.0
df.loc[df['n_intermediate'] == 0, 'accuracy_intermediate'] = 1.0
df.loc[df['n_advance'] == 0, 'accuracy_advance'] = 1.0

In [48]:
df

,n_beginner,n_intermediate,n_advance,accuracy_beginner,accuracy_intermediate,accuracy_advance
0,4,0,6,0.001993,1.000000,0.753460
1,3,4,3,0.585567,0.716942,0.278396
2,2,0,8,0.578313,1.000000,0.061586
3,6,4,0,0.046100,0.707588,1.000000
4,1,4,5,0.095613,0.667447,0.448442
...,...,...,...,...,...,...
61,1,2,7,0.408739,0.592968,0.290533
62,7,3,0,0.688674,0.902457,1.000000
63,0,1,9,1.000000,0.555652,0.784169
64,6,2,2,0.794666,0.639777,0.308068
65,4,6,0,0.286122,0.304933,1.000000

In [49]:
df.to_csv("Question_level.csv")